.yith-pawc-addons-frontend select {
    border-width: 1px;
}

.yith-pawc-field__radio {
    list-style-type: none;
    padding: 0;
}

.yith-pawc-addon_name {
    font-weight: bold;
}

.yith-pawc-addon_input input, .yith-pawc-addon_input textarea, .yith-pawc-addon_input select {
    margin-top: 10px !important;
    width: 500px;
}

.yith-pawc-addon_input textarea {
    resize: vertical;
}

.yith-pawc-addon_input .select2-container {
    margin-top: 15px;
    margin-bottom: 30px;
}

.yith-pawc-addon_input select {
    margin-top: 15px;
    margin-bottom: 20px;
}


.yith-pawc-field__radio, .yith-pawc-field__checkbox {
    margin-top: 10px;
}

.yith-pawc-onoff-p {
    margin-top: 10px;
    margin-bottom: 0;    
}

.yith-pawc-addon-price {
    margin-top: 0;
}

.yith-pawc-prices {
    background-color: #eee;
    width: 500px;
    padding: 15px;
    margin-bottom: 20px;
}

.yith-pawc-prices .price {
    margin: 0 !important;
}

.yith-pawc-prices div {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.yith-pawc-prices-title span {
    font-weight: bold;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 42px;
    height: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

