.yith-pawc-hidden {
	display: none !important;
}

.yith-pawc-total-container {
    margin: 25px 0;
}

.yith-pawc-addon-container {
    margin: 30px 20px 20px 300px;
    border: 1px solid lightgrey;
    padding: 15px 20px;
    background: white;   
}

.yith-pawc-add-new-addon, .yith-pawc-remove-addon {
    color: white;
    background: #0073aa;
    padding: 6px 10px;
    border-radius: 5px;    
    font-weight: 500;
    font-size: 11px;
	  cursor: pointer;
}

.yith-pawc-add-new-addon {
    margin-left: 20px;
}

.yith-pawc_toggle-addon {
    position: absolute;
    right: 40px;
}

.yith-pawc-btn-arrow {
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.yith-pawc-field__container {
    display: flex;
    align-content: stretch;
    align-items: flex-start;
    margin: 25px 0;
}

.yith-pawc-total-container label{
    width: 120px;
}

.yith-pawc-total-container input, .yith-pawc-total-container textarea, .yith-pawc-total-container select {
    width: 210px;
}

.yith-pawc-total-container input[type="radio"], .yith-pawc-total-container input[type="checkbox"] {
    width: 1rem;
}

.yith-pawc-total-container .yith-pawc-radios {
    margin: 0;
}

.yith-pawc-options {
    width: 150px;
}

.yith-pawc-add-new-option {
    padding: 5px 0;
    color: #0073aa;
    font-weight: 500;
}

.yith-pawc-input_name-container, .yith-pawc-input_price-container {
    display: inline-block;
}

.yith-pawc-add-option-button {
	  cursor: pointer;
}

.dashicons-trash {
    cursor: pointer;
    vertical-align: middle;
}

.yith-pawc-remove-addon__container {
    text-align: end;
  	margin-bottom: 10px;
}

/* Switchs ON-OFF style */

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0px;
	left: 79px;
	right: -1px;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	height: 24px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 17px;
	width: 17px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
  	background-color: #0073aa;;
}

input:focus + .slider {
 	 box-shadow: 0 0 1px #0073aa;;
}

input:checked + .slider:before {
	-webkit-transform: translateX(17px);
	-ms-transform: translateX(17px);
	transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  	border-radius: 34px;
}

.slider.round:before {
  	border-radius: 50%;
}

/* Switch Default Enabled styles */

/* The switch - the box around the slider */
/*.switch_de {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
/*.switch_de input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
/*.slider_de {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider_de:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider_de {
  background-color: #2196F3;
}

input:focus + .slider_de {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider_de:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
/*.slider_de.round_de {
  border-radius: 34px;
}

.slider_de.round_de:before {
  border-radius: 50%;
}*/


    